@model App.EndPoints.MVC.Serkan.Models.ViewModels.UserViewModel

<div>
    <h4>ثبت کاربر جدید</h4>
    <hr />
    <form asp-action="Create" method="post" data-ajax="true" data-ajax-method="POST" data-ajax-success="onSuccess" data-ajax-failure="onFailure">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="form-group">
            <label asp-for="Name" class="control-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
         

        <div class="form-group">
            <label asp-for="BirthDate" class="control-label"></label>
            <input asp-for="BirthDate" class="form-control BirthDate" id="BirthDate" />
            <span asp-validation-for="BirthDate" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Gender" class="control-label"></label>
            <input asp-for="Gender" class="form-control" />
            <span asp-validation-for="Gender" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Province" class="control-label"></label>
            <input asp-for="Province" class="form-control" />
            <span asp-validation-for="Province" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="City" class="control-label"></label>
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="ایجاد" class="btn btn-primary" />
        </div>
    </form>
</div>
@section Styles {

    <style>
        <link rel="stylesheet" href="~/lib/persian-datepicker/persian-datepicker.min.css" / >
        .form-group {
            margin-bottom: 1.5rem;
        }

        #BirthDate {
            width: 100%;
        }
    </style>
}
@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/persian-datepicker/persiandate.min.js"></script>
    <script src="~/lib/persian-datepicker/persian-datepicker.min.js"></script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        console.log("hello");

        
        $(document).ready(function () {
            console.log("سکرپت بارگذاری شد");

        
            if ($("#BirthDate").length) {
                console.log("عنصر BirthDate پیدا شد");
            } else {
                console.log("عنصر BirthDate پیدا نشد");
            }
        });

 
        $('#myModal').on('shown.bs.modal', function () {
            console.log("مودال نمایش داده شد");

            $("#BirthDate").pDatepicker({
                format: "YYYY/MM/DD",
                autoClose: true
            });

            if ($("#BirthDate").length) {
                console.log("تاریخ‌انتخاب‌کننده به درستی اعمال شد");
            } else {
                console.log("تاریخ‌انتخاب‌کننده اعمال نشد");
            }
        });
    </script>
    @*<script>
        //console.log("hello");
        //$(document).ready(function () {
        //    $(".BirthDate").pDatepicker();
        //});
        console.log("hello");

        $(document).ready(function () {
            console.log("سکرپت بارگذاری شد");

            // بررسی اینکه آیا عنصر با کلاس "BirthDate" موجود است یا خیر
            if ($("#BirthDate").length) {
                console.log("عنصر BirthDate پیدا شد");
            } else {
                console.log("عنصر BirthDate پیدا نشد");
            }

            $(".BirthDate").pDatepicker({
                format: "YYYY/MM/DD",
                autoClose: true
            });
        });
    </script>*@


}




